@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1F2D2E;
  --primary: #0FA4A9;
  --accent: #0D9488;
  --landing: #F4FBFA;
  --Main-Text-Clor: #1F2D2E;
  --para-text-clor: #5F6F73;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-landing: var(--landing);
  --color-main-text: var(--Main-Text-Clor);
  --color-para-text: var(--para-text-clor);
  --font-sans: var(--font-roboto), var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4FBFA;
    --foreground: #1F2D2E;
  }
}

body {
  background: var(--landing);
  color: var(--Main-Text-Clor);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}